@import "tailwindcss";

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../src//assets/font/Rubik-VariableFont_wght.woff2") format("woff2");
}

root {
      --color-border: #000;
}

@theme {
      --font-primary: "Rubik", sans-serif, serif;
      --color-borderColor: var(--color-zinc-700);
      --color-input: var(--color-zinc-800);
      --color-cardDashboard: var(--color-zinc-800);
}

body {
      font-family: var(--font-primary);
      background-color: #0a0d14;
      color: #F9F9FA;
}


